<p id="notice"><%= notice %></p>

<p>
  <strong>Location name:</strong>
  <%= @event.location_name %>
</p>

<p>
  <strong>Suburb name:</strong>
  <%= @event.suburb_name %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @event.street_address %>
</p>

<p>
  <strong>Activity date:</strong>
  <%= @event.activity_date %>
</p>

<p>
  <strong>Activity time:</strong>
  <%= @event.activity_time %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @event.is_public %>
</p>

<%=@requests.each do |request|%>
    <%=request%>
<% end %>

<%= simple_form_for @new_request, :url => event_requests_path(@event.id) do |f|%>
  <%=f.input :name %>
  <%=f.input :number %>
  <%=f.submit "hello"%>
<% end %>
